body{
  background-color: black;
  color: beige;
}

.Nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(90, 132, 118);
}

.Nav div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.Nav a{
  color: white;
  text-decoration: none;
}

h1{
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}