*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

body{
  background-color: black;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  padding: 20px;
  background-color: #3a3636;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}

.card img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card p{
  margin: 20px 0;
}

.card button{
  height: 40px;
  width: 100px;
  color: brown;
  margin: 5px 2px;
  border: 1px solid green;
  border-radius: 5px;

}
