*{
  margin: 0;
  padding: 0;
  background-color: rgb(25, 37, 37);
}

/* input{
  margin: 10px;
  padding: 10px 20px;
  color: aliceblue;
} */

/* div{
  height: 200px;
  width: 200px;
  background-color: grey;
} */

.page1{
  height: 100vh;
  width: 100%;
  background: #4e3e3e;
}

.page2{
  height: 110vh;
  width: 100%;
  background: #68adf1;
}

.page3{
  height: 100vh;
  width: 100%;
  background: #803758;
}