body{
  background-color: darkslategray;
  color: bisque;
}

button{
  margin: 10px;
  height: 50px;
  width: 100px;
  font-size: larger;
  background-color: cornsilk;
}

h1{
  background-color: dimgray;
  width: fit-content;
  font-size: 80px;
  padding: 10px 80px;
  margin: 15px;
  border-radius: 25px;
}
